{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post">
        {% if error %}<em>{{ error }}</em>{% endif %}<br><br>
        <label for="username">username:
            <input name="username" id="username" type="text" required>
        </label><br>
        <label for="password">password:
            <input name="password" id="password" type="password" required>
        </label><br>
        <input type="submit" value="log in">
    </form>
{% endblock %}
