{% extends 'base.html' %}

{% block title %}user{% endblock %}

{% block sidebar %}
    <br>
    <div class="ttext">
        user <b>{{ user.username }}</b><br> 
        joined {{ user.joined|dtFormat }} ({{ user.joined.strftime('%m/%d/%y') }})<br>
        <br>
        showing all models posted by {{ user.username }}
    </div>
{% endblock %}

{% block content %}
  {% if models %}
      {% include 'model/modelList.html' %}
  {% else %}
      {{ user.username }} has posted no models
  {% endif %}
{% endblock %}
